body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 3px solid #999;
  margin-right: 1px;
  margin-top: 1px;
  padding: 0;
  width: 50px;
  height: 50px;
}

.text-num {
  text-align:center;
  vertical-align:middle;
  background: #fff;
  font-size: 35px;
  font-weight: bold;
  line-height: normal;
  margin-right: 0px;
  margin-top: 0px;
  padding: 0;
}
.text-op {
  text-align:center;
  vertical-align:middle;
  background: #fff;
  float: left;
  font-size: 35px;
  font-weight: bold;
  line-height: normal;
  margin-right: 0px;
  margin-top: 0px;
  padding: 8px;
}

.number:focus {
  outline: none;
}
.kbd-navigation .number:focus {
  background: #ddd;
}
.operand:focus {
  outline: none;
}
.kbd-navigation .operand:focus {
  background: #ddd;
}
.timer {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
}
.timer-gauge {
  border: 3px solid #999;
  background-color: red;
  height: 8px;
}

.problem {
  display: flex;
  align-items: center; 
}
.input {
  display: flex;
  align-items: center; 
  flex-direction: column;  
  width: 100%;
  margin-top: 16px;
}
.input-row {
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 100%;
}
.input-row:after {
  clear: both;
  content: "";
  display: table;
}
.input-button {
  width: 30%;
  max-width: 80px;
  height: 50px;
  font-size: 35px;
}
.game {
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-direction: column;  
}
.game-info {
  margin-left: 20px;
}
